PORT=3000

# MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=3d
DB_PASSWORD=3d_pass
DB_DATABASE=3d
DB_SYNCHRONIZE=true

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Cache
BODY_DATA_CACHE_TTL_SECONDS=60

# Seed
BODY_DATA_SEED_COUNT=150000
BODY_DATA_SEED_BATCH_SIZE=2000
SEED_ON_BOOTSTRAP=true
